<% title "Create A Birthday Page" %>

<div class="first sixteen columns clearfix">
  <h4 class="create-birthday">Create Someone's Birthday Page</h4>
  <%= simple_form_for @birthday do |f| %>
    <div class="six columns alpha">
      <%= f.input :date_born, label: 'birthday', required: false, discard_year: true, discard_hour: true, order: [:month, :day] %>
      <%= f.error :name, id: 'name-error' %>
      <%= f.input :name, label: "name of birthday person", required: false, error: false  %>
      <%= f.input :twitter_url, as: :string, label: 'twitter username of birthday person', placeholder: '@whosebirfday' %>
      <%= f.button :submit, class: 'create-birthday' %>  
    </div>
  <% end %>
</div>