<% title "IS IT #{@birthday.name}'S BIRTHDAY?" %>

<h1><%= "Is it #{@birthday.name}'s birthday today?" %></h1>
<h1><%= birthday_boolean %></h1>
<%= congratulate %>
<h2><%= link_to 'share this birthday link', @birthday_url %></h2>
<p><%= link_to 'make a birthday page for you or someone you know', new_birthday_path %></p>